/*
 * Copyright (c) 2021, Blue Clover
 * 
 * Device Tree Overlay for Nordic nRF52840dk Development Board
 *
 */

/ {
	aliases {
		pwm-buzzer = &pwm0;
	};
};

&pwm0 {
	/* buzzer */
	status = "okay";
	ch0-pin = <20>;
	ch0-inverted;
};
